<h1>Scenario</h1>
<p>November 2020. Donald Trump lost the election against Michelle Obama and could not support it. After having tweeted that he will “take America hostage with my big nuclear button rather than give away my seat”, he threatened to use his nuclear arsenal against any countries that would not rally him by the presidential investiture on the 21st of January. To prove that he was not kidding, he annihilated North Korea, to the general astonishment since his relationship with this country had become much warmer after Trump had realised in 2019 that Kim Jong Un “was not a pussy”, and since he was playing golf with him one month earlier during a state visit to Pyongyang. Two third of the military joined Trump, but one third has started an open rebellion leaded by the Obamas who control the Pacific coast and the New Orleans. The 3 main other nuclear powers are hesitating between rallying Trump’s claim and trying to stop him with their spies, supporting the rebellion, or merely launching a nuclear bomb to some of the main US cities loyal to Trump.</p>

<h1>Game wiki</h1>
<h2>Basic rules</h2>
<p>Trump is hiding in the US and just communicates with the world through Twitter. The players objective is too find him and kill him to stop is machiavelic plan. The game is played turn by turn and each turn, each player can execute one action among the following:</p>
<ul>
	<li>Send reinforcement to the rebels</li>
	<li>Launch nuclear attack</li>
	<li>Move spies</li>
	<li>Recruit new spy</li>
	<li>Pass (will be the default action if the player has not played during the first 30 secs) </li>
</ul> 
<p>Each turn lasts 30 seconds, the game is limited to 20 turns. Each player has 2 spies, 3 launch sites, a given number of planes and tanks.</p>

<h2>Special powers</h2>
<ul>
	<li><strong>China - Emerging nuclear power:</strong> China starts with 5 launch sites, can lose 12 cities</li>
	<li><strong>Europe - Modern military:</strong> Europe can send 1/4 of its army in reinforcement per turn</li>
	<li><strong>Russia - KGB networks:</strong> Russia starts with 3 spies</li>
</ul>
