<div class='container' id='main-container'>	
  <div class="row justify-content-center">
    <div class="col-md-7">
		<h2 class="center">Scenario</h2>
		<p class='center'>November 2020. Donald Trump lost the election against Mark Zuckerberg in an election impaired by concerns over social media manipulation. </p><p class='danger-text center bold'>The situation is critical.</p> <p class='center content-section'> Trump tweeted that he will “take America hostage with my big nuclear button rather than give away my seat”. He threatened to use the US nuclear arsenal against any country that would not rally him by the presidential investiture on the 21st of January 2021. To prove that he was not kidding, he annihilated North Korea. In the US, two third of the military joined Trump, but one third has started an open rebellion leaded by Zuckerberg, around the New Orleans. The rest of the world is hesitating between rallying Trump’s claim and trying to stop him by all means.</p>


		<h2 class='center'>Your Mission</h2>
		<p class='center'>Trump is hiding somewhere in the US. The players objective is too find him and stop him before he carries out his threats. The game is played turn by turn (each turn representing one week between the election and the inauguration), each player (playing either for China, Europe or Russia) can execute one action among the following:</p>

		<div class="row top-margin bold center justify-content-center"> 

			<div class="col-md-9">Send reinforcement to the rebels</div>

		</div>
		<div class="row top-margin bold center justify-content-center"> 
			
			<div class="col-md-9">Launch nuclear attack</div>
			
		</div>
		<div class="row top-margin bold center justify-content-center"> 
			
			<div class="col-md-9"> Move spies</div>

		</div>
		<div class="row top-margin bold center justify-content-center content-section"> 
			
			<div class="col-md-9">Recruit new spy</div>
			
		</div>
			
		<p class='center bold danger-text'>Each turn lasts 60 seconds, and if Trump is not found after the end of the 12th turn, all players lose.</p>
    </div> 
  </div>
</div>