<div class='container' id='main-container'> 
  <p class='center'>Est ce que le Chamby est content de ton message?</p>
  <div class='action-button center'>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#actionModal">
      Je veux savoir
    </button>
  </div>

  <div class="modal fade" id="actionModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">La réponse D</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    
        <!-- Modal body -->
        <div class="modal-body" id='modal-form'>

          chamby === content => true
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger center" data-dismiss="modal">
            Back 
          </button>
        </div>

      </div>
    </div>
  </div>
</div>