//= require cable
//= require application
//= require_self
//= require_tree .

let invitees = [];
let gameInviteId;
let userId;

function inviteSubscriptionCreator(id) {
	return App.cable.subscriptions.create({channel: 'GameInvitesChannel', user_id: id}, {  
		received: function(data) {
			if (userId === id) {
				$("#notification-area").append('<div class="alert alert-info">' + 
					data.message + "<a href='/games/" + data.game_invite_id + 
					"/join' rel='nofollow' data-method='post' class='btn btn-primary left'>Join the game</a></div>");
			};
		}
	});
}

function bindInviteClickListeners () {
	$('[data-invite]').on("click", function() {
		gameInviteId = location.href.split('/').slice(-1).pop();
		if (this.dataset.invite === 'false') {
			invitees.push(this.dataset.user);
		} else if (this.dataset.invite === 'true') {
			let index = invitees.indexOf(this.dataset.user);
			invitees.splice(index, 1);
		}
	});

	$('#send-invites').on('click', function() {
		invitees.forEach( function(invitee) {
			App['game_invites_' + invitee] = inviteSubscriptionCreator(invitee);
			App['game_invites_' + invitee].send({message: "You have been invited to a new game", game_invite_id: gameInviteId });
			console.log('game_invites_' + invitee);
		});
	});
}

$(document).on('turbolinks:load', function () {
	$.get('/current_user', function(result){
  		userId = result.id;
  		App['game_invites_' + userId] = inviteSubscriptionCreator(userId); 
	});
	bindInviteClickListeners();
});