<thead>
	<tr class='row align-items-center'>
		<th class="center col"><strong>Turn</strong></th>
		<th class="center col"><strong>Status</strong></th>
		<th class="center col"><strong>Created</strong></th>
		<th class="center col"><strong>Actions</strong></th>

	</tr>
</thead>
<tbody>
	<% current_user.games.not_finished.order('created_at DESC').each do |game| %>
		<tr class='row align-items-center'>
			<td class='col'><%= game.turn_number.nil? ? 'Not started' : game.turn_number %></td>
			<td class='col'><%= game.status.humanize %></td>
			<td class='col'><%= game.created_at.strftime('%d %B %y') %></td>
			<td class='col'>
				<%= link_to "Play!", game_path(game), class: "btn btn-primary", 
				data: {game: game.id, status: game.status} %>
				
			</td>
			
		</tr>
	<% end %>
</tbody>