<thead>
	<tr class='row align-items-center'>
		<th class="center col"><strong>Creator</strong></th>
		<th class="center col"><strong>Status</strong></th>
		<th class="center col"><strong>Created</strong></th>
		<th class="center col"><strong>Options</strong></th>

	</tr>
</thead>
<tbody>
	<% current_user.game_invites.each do |game| %>	
		<% if game.status == "pending" %>	
			<tr class='row align-items-center'>
				<td class="center col"><%= game.creator.username %></td>
				<td class="center col">Waiting players</td>
				<td class="center col"><%= game.created_at.strftime('%d %B %y') %></td>
				<td class="center col"><%= link_to "Join", join_path(game), method: :post, class: "btn btn-primary", id: "join-game", data:{user: current_user.id } %></td>
			</tr>
		<% end %>
	<% end %>
</tbody>