<div class='container' id='main-container'>	
	<div class="container" data-game='<%= @game.id %>'>
		<h3 class="center">Each seconds counts</h3>

		<p class='center'>
			On the night of the 3rd November 2020, after losing the US presidential election against Michelle Obama, Donald Trump announced in a tweet that he would "rip the f****** world apart with (his) big nuclear button if Michelle Obama is inaugurated President"
		</p>

		<p class="center">
			To prevent the advent of an era of terror, the countdown to stop him before the 20th Jan 2021 has begun. Each turn, you will have the choice between 4 actions to try to kill Trump.
		</p>
		<p class="center">
			<button class="btn btn-primary" id="get-started" disabled="<%= @game.players.size == 3 ? true : nil %>">Let's get started! </button>

		</p>
	</div>

	<%= render 'games/templates/pending_game_table' %>
</div>
