<div class='container' id='main-container'>	
	<div class="container" data-game='<%= @game.id %>'>

		<p class="center content-section">
			The world's main powers have <strong> 12 weeks until the 21st Jan 2021 </strong>to thwart Trump's nefarious plans and prevent the advent of an era of terror. <br> Your mission is to find him and put him out of business.
		</p>

		<div class="center top-margin content-section">
			<button class="btn btn-primary" id="get-started" disabled="<%= @game.players.size == 3 ? true : nil %>">Let's get started! </button>
			<div class="button-hint center">3 players needed</div>
		</div>
		
	
		<h3 class="section-title">Special powers</h3>
		<div class="row top-margin">
			<div class="col-sm-4 bold">China - Emerging nuclear power</div> 
			<div class="col-sm-8">China starts with 4 launch sites, can lose 9 cities instead of 5</div>
		</div>
		<div class="row top-margin">
			<div class="col-sm-4 bold">Europe - Modern military</div> 
			<div class="col-sm-8">Europe can send 1/4 of its army in reinforcement per turn instead of 1/6</div>
		</div>
		<div class="row top-margin content-section">
			<div class="col-sm-4 bold">Russia - KGB networks</div> 
			<div class="col-sm-8">Russia starts with 3 spies instead of 2</div>
		</div>

		
	</div>
	<div class="container">
		<h3 class="section-title">Players</h3>
		<%= render 'games/templates/pending_game_table' %>
	</div>	
</div>
