<div class='container-fluid vertically-determined' id='main-container'>
	<div class="container full-vertical-center bold">

		<% if @player.winner == false %>
		  You lost this game after losing too many cities.
		  <% else %>
		  Waiting for the other players
		<% end %>

	</div>
</div>
