$blue: #000034; 
$light-blue: #272780;
// #02044B
$green: #20c997;
$dark-green:#083226;
$grey: #D4D4E2;
$white: #EFEFEF;
$red: #dc3545;
$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;

#bootstrap-overrides {
	.navbar {
		background-color: $blue; 
		margin-bottom: 2rem;
		a {
			color: white;
			&:hover {
				color: $green;
			}
		}
		.navbar-collapse {
			justify-content: flex-end;
		}
		.dropdown-menu {
			background-color: $blue;
			.dropdown-item {
				&:hover {
					background-color: $blue;
				}
			}
		}
		.navbar-toggler {
			border: 1px solid white;
		}
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
	
	.btn-primary {
		color: $dark-green;
		background-color: $green;
		border-color: $green;

	}
	.btn-danger {
		color: white;
	}

	.table {
		margin: 0;
		td {
			vertical-align: middle; 
			flex-basis: 1; 
			@extend .center;
		}
	}
	.alert {
		display:flex;
		align-items:center;
	}

	.alert.hidden {
		display: none;
	}

	.alert-danger {
		background-color: $red; 
		color: white;
		border-color: $red;
	}
	.alert-success {
		border-radius: 8px; 
		background-color: $green; 
		opacity: 0.9; 
		color: white; 
	}
	.modal-content {
		background-color: $light-blue;
	}

	.close {
		color: $white; 
		text-shadow: none;
		&:hover {
			color: $green;
		}
	}

}

// GENERAL ----------------------------------------------------------------

html, body {
	height:100%; 
}

body {

	background-color: $blue; 
	color: $grey;

}

.vertically-determined {
	height:70%;
}

.content-section {
	margin-bottom: 3rem;
}

.bold {
	font-weight: bold; 
}

.header {
	font-size: 1.2rem;
	text-align: center; 
	margin-bottom: 1rem;
}


.left {
	margin-left: 1rem;
}

.center {
	text-align: center; 
}

.vertical-center {
	display:flex; 
	align-items:center;
}

.full-vertical-center {
	height: 100%;
	display: flex; 
	justify-content:center;
	align-items: center;
}

.button-list {
	list-style: none; 
	padding: 0; 
	margin: 0;
	li {
		display: inline; 
	}
}

.button-list-vertical {
	list-style: none; 
	padding: 0; 
	margin: 0;
	.btn {
		width: 50%;
		margin: 8px 0;
		min-width: 136px;
	}
}


.spaced {
	display: flex; 
	justify-content: space-between;
}

.table-title {
	text-align: center;
	margin-bottom: 1rem;
}

.form-field {
	border-radius: 4px; 
	border: 2px solid $green;
	background-color: $blue; 
	color: $green;
	padding: 0.4rem 0.6rem;
	min-width: 220px;
    width: 30%;
}

.form-submit {
	min-width: 220px;
    width: 30%;
}

.devise-links {
	a {
		color: $white;
		&:hover {
			color: $green;
			text-decoration:none;
		}
	}
	margin-top: 0.5rem;
}

.controls {
	width: 80%;
	min-width: 232px; 
	@media only screen and (max-width: $breakpoint-tablet) {
		margin-bottom: 0.5rem;
	}
}


.hidden {
	display: none;
}

.footer {
	margin-top: 2rem;
	height: 2rem; 
	border-top: 1px solid $white;
}

.image-banner {
	border: 3px solid $white;
	border-radius: 24px;
	margin-right: 1rem;
}

.button-row {
	margin-bottom: 1rem;
	display:flex;
	align-items: center;
	.btn {
		width: 100%;
	}
	@media only screen and (min-width: $breakpoint-phone) {
		min-height: 80px;
		margin-bottom: 0.5rem;
	}
}

.hint {
	font-size: 0.6rem;
	@media only screen and (max-width: $breakpoint-phone) {
		margin-top: 0.5rem;
		text-align:center;
	}
}

.danger-text {
	color:$red;
}

// ALERTS --------------------------------------------------------

.alert-notice, .alert-info {
	background-color: $light-blue; 
	color: white;
	border-color: $light-blue;
}


.alert-info-inverted {
	background-color: $blue; 
	color: white;
	border-color: $blue;
}

.alert-error, .alert-alert {
	background-color: $red; 
	color: white;
	border-color: $red;
}


// ICONS -------------------------------------------------------- 

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }

.material-icons.disabled { 
	color: $grey; 
	opacity: 0.7 
}
.material-icons.destroyed { color: $red; }
.material-icons.conquered { color: $red; }
.material-icons.active { color: $white; }
.material-icons.selected { color: $green; }
.material-icons.read { color: $blue; }
.material-icons.unread {
	color: $green;
	cursor:pointer;
}
.pointer {
	cursor:pointer;
}


// MAP STYLES  ---------------------------------------------

#map {
    width: 100%;
    min-height: 460px;
    margin-top: 1rem;
    cursor: pointer;
}

.map {
	margin-top: 1rem;
}

.mapboxgl-popup {
  min-width: 80px; 
  max-width: 120px;
}

.mapboxgl-popup-content {
  background-color: rgba(32, 201, 151, 0.8) !important;
  padding: 0.5rem !important;
  text-align: center;
  font-size: 0.7rem;
  color: $blue;
}

.mapboxgl-popup-tip {
  border-top-color: rgba(32, 201, 151, 0.8) !important;
}

// GAME TEMPLATE ------------------------------------------- 

#game-header {
	margin-bottom: 2rem;
}

.player-info {
	border: 1px solid $white;
	border-radius: 4px; 
	padding: 0.5rem 0.8rem;
	margin-top: 1rem ;
	margin-bottom: 1rem;
	font-size:0.85rem;
}

.game-info {
	border-radius: 4px; 
	margin-top: 1rem ;
	margin-bottom: 1rem;
	font-size:0.85rem;
	padding: 0.5rem 0.8rem;
	background-color: $light-blue;
	@media only screen and (max-width: $breakpoint-tablet) {
		padding: 0.8rem 0.8rem 0 0.8rem;
		.vertical-center {
			justify-content:center;
			margin-bottom: 0.5rem;
		}
		.col-md-4 {
			padding-bottom: 0.8rem;
		}
	}
}

// MESSAGES --------------------------------------------------------

#message-button {
	height: 56px; 
	width: 56px;
	border-radius: 28px; 
	background-color: $green;
	display: flex; 
	align-items: center; 
	justify-content:center;
	color: $blue;
	margin: auto;
	cursor:pointer;

}

#unread-counter {
	height: 20px; 
	width: 20px;
	border-radius: 10px;
	background-color: $red;
	position: relative;
	top:-18px; 
	left: 6px;
	color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#unread-counter-close {
	height: 20px; 
	width: 20px;
	border-radius: 10px;
	background-color: $red;
	position: relative;
	top:-18px; 
	left: 2px;
	color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#message-icon {
	position: relative; 
	left: 10px;
}

#message-button-close {
	height: 56px; 
	width: 56px;
	border-radius: 28px; 
	background-color: $green;
	display: none; 
	align-items: center; 
	justify-content:center;
	color: $blue;
	margin: auto;
	cursor:pointer;
}

#message-container {
	position:absolute;
	width: 200%; 
	max-height: 368px;
	overflow:scroll;
	top: 5rem;
	right: 3rem;
	z-index: 10;
	font-size: 0.85rem;
	display:none;
	padding: 0 1rem;

	.message-dialog{
		border-radius: 8px;
		padding: 0.8rem 0.8rem 0.1rem 0.8rem;
		background-color: rgba(32, 201, 151, 0.5);
	}
	
	.message {
		background-color:$light-blue;
		padding: 0.5rem 0.8rem;
		margin-bottom: 0.8rem;
		border-radius: 4px;
	}
	@media only screen and (max-width: $breakpoint-tablet) {
		width: 100%; 
		right: 0;
	}
}


// ACTION MODAL

#modal-action-dialog {
	
}

.top-margin {
	margin-top: 1rem;	
}


// WAITING TEMPLATE

.waiting {
	height:100%;
	background-color: rgba(0,0,0,0.8); 
	color: white; 
	display: flex;
	align-items: center; 
	justify-content: center;
}